{% extends "base.html" %} {% block title %}All Wallpapers - Wallpaper App{%
endblock %} {% block content %}
<div class="container mt-4">
  <h1>All Wallpapers</h1>
  <hr />

  <div class="gallery-masonry">
    {% for category, wallpaper in wallpapers %}
    <div class="wallpaper {{ category }}">
      <div class="wallpaper-img-container">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='wallpapers/' ~ category ~ '/' ~ wallpaper) }}"
          alt="{{ category }} Wallpaper"
        />
      </div>
      <a
        class="download-btn"
        href="{{ url_for('download_local', device=category, filename=wallpaper) }}"
        >Download</a
      >
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
